# requirements.txt
requests
bs4
pandas
PyPDF2
tqdm
torch
langchain
langchain-community
sentence-transformers
torch
spacy
transformers
faiss-cpu
numpy
pandas
scikit-learn
pymupdf
biopython
xmltodict
tqdm
matplotlib
vllm